name: CI/CD Pipeline Docker

on:
  push:
    branches:
      - main # Détecte le push sur la branche main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Utilise le nom du projet défini dans package.json
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/my-nodejs-app:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # 1. Allez dans le dossier où se trouve votre projet sur le serveur
            # Remplacez /home/user/my-project par votre vrai chemin
            cd /home/${{ secrets.SERVER_USER }}/nodejs_postgres 

            # 2. Mettre à jour l'image (Pas besoin de stop/rm manuel avec compose)
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/my-nodejs-app:latest
            
            # 3. Relancer avec compose (il gérera le port 3001 défini dans votre fichier)
            docker compose up -d 

