name: CI/CD Pipeline Docker

on:
  push:
    branches:
      - main # Détecte le push sur la branche main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Utilise le nom du projet défini dans package.json (mon-app)
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/my-nodejs-app:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Pull du conteneur depuis Docker Hub
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/my-nodejs-app:latest
            
            # # Arrêt et suppression de l'ancien conteneur s'il existe
            # docker stop my-nodejs-app-container || true
            # docker rm my-nodejs-app-container || true
            
            # # Lancement (UP) du nouveau conteneur
            # docker run -d --name my-nodejs-app-container -p 3002:3001 ${{ secrets.DOCKERHUB_USERNAME }}/my-nodejs-app:latest
            docker-compose up -d
