name: CI/CD Pipeline Docker

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/my-nodejs-app:latest

      - name: Copy files to Server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          # On envoie votre fichier docker-compose.yml original
          source: "docker-compose.yml,init-db.sql"
          target: "~/app"

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/app
            
            # Export du nom d'utilisateur pour le fichier compose
            export DOCKERHUB_USERNAME=${{ secrets.DOCKERHUB_USERNAME }}
            
            # Récupération de l'image fraîche
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/my-nodejs-app:latest
            
            # Libération du port 3002 si nécessaire
            sudo fuser -k 3002/tcp || true
            
            # Relance des services
            docker compose down
            docker compose up -d
            
            # Nettoyage
            docker image prune -f